{% extends "navigationBar.html" %}

{% block site_content %}

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 movie_list">
    <style>
            .card-header-icon {
                object-fit: cover;
                width: 100%;
                max-height: 100%;
            }

            .card-view {
                /* margin: 0 auto; */
                /* Added */
                /* float: ceneter; */
                /* Added */
                /* margin-bottom: 0 px; */
                /* Added */
                /* grid-column-gap: 50px;   */
                /* padding: 0px;
          font-size: 40px;
          text-align: center
          grid-gap: 50px; */
                /* display: flex; */
                margin-left: 6%;
                /* padding: 0px */
                border-radius: 26px;
                box-sizing: border-box;
                padding: 0;
                /* margin-top: 5px; */
                box-shadow: 3px 4px 9px 0px #32322e;
                background-position: center;
                background-size: cover;

            }
        .card-view {
            /* margin: 0 auto; */
            /* Added */
            /* float: ceneter; */
            /* Added */
            /* margin-bottom: 0 px; */
            /* Added */
            /* grid-column-gap: 50px;   */
            /* padding: 0px;
  font-size: 40px;
  text-align: center
  grid-gap: 50px; */
  /* display: flex; */
  margin-left: 6%;
        }
    </style>
    <div class="pt-8 pb-2 mb-3 border-bottom">
        {% if not all_recipes %}

        <div class="row">
            <h1>You don't have any created Recipes yet</h1>
        </div>


        {% else %}
        <div class="row">
            <h1>All Rrecipes</h1>
        </div>
        {% for recipe in all_recipes %}
        <!-- Recipe Card Start -->
        <div class="card-view">
            <div class="card-header recipe">
                <div class="card-header-icon">
                    <a href="#">
                        <!-- <i class="material-icons header-icon">play_arrow</i> -->
                        <img src="{{ recipe.image.url }}"  width="330" height="370">
                    </a>
                </div>
            </div>

            <div class="card-movie-content">
                <div class="card-movie-content-head">
                    <a href="#">


                        <h3 class="card-movie-title">{{ recipe.item_name }}</h3>
                    </a>
                    <div class="ratings"><span>8.8</span>/10</div>
                </div>
                <div class="card-movie-info">
                    <div class="movie-running-time">
                        <label>Author</label>
                        <p1>
                            {{ recipe.user_name }}

                        </p1>

                    </div>

                    <div class="movie-running-time">
                        <label>Time to be cooked</label>
                        <span>{{ recipe.item_time_to_cook }} minutes</span>
                    </div>
                </div>
                <div class="container">
                    {% if  request.user == recipe.user_name   %}


                    <div class="row">
                        <a href="{% url 'recipe:edit' recipe.id %}" class="btn btn-warning">
                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                            <span><strong>Edit</strong></span>
                        </a>
                        <a href="{% url 'recipe:detail' recipe.id %}" class="btn btn-primary a-btn-slide-text">
                            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                            <span><strong>View</strong></span>
                        </a>
                        <a href="{% url 'recipe:delete' recipe.id %}" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            <span><strong>Delete</strong></span>

                        </a>



                    </div>
                    {% else %}

                    <div class="row">

                        <a href="{% url 'recipe:detail' recipe.id %}" class="btn btn-primary a-btn-slide-text">
                            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                            <span><strong>View</strong></span>
                        </a>



                    </div>
                    {% endif %}

                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    {% endif %}

 <!-- Paginationnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnn -->



<!--  

 <div class="pagination">
    <span class="step-links">
        {% if all_recipes.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ all_recipes.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ all_recipes.number }} of {{ all_recipes.paginator.num_pages }}.
        </span>

        {% if all_recipes.has_next %}
            <a href="?page={{ all_recipes.next_page_number }}">next</a>
            <a href="?page={{ all_recipes.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
 -->







<style>
    .pagination {
      display: inline-block;
    }
    
    .pagination a {
      color: black;
      float: left;
      padding: 8px 16px;
      text-decoration: none;
    }
    
    .pagination a.active {
      background-color: #3C69E7;
      color: white;
    }
    
    .pagination a:hover:not(.active) {background-color: #ddd;}
    </style>
    </head>
    <body>
    
    <div class="pagination">
      <a href="#">&laquo;</a>
      {% if all_recipes.has_previous %}
      <a href="?page=1">&laquo; first</a>
      <a href="?page={{ all_recipes.previous_page_number }}">previous</a>
     {% endif %}
      <a class="active" href="#"> Page {{ all_recipes.number }} of {{ all_recipes.paginator.num_pages }}.</a>
      {% if all_recipes.has_next %}
      <a href="?page={{ all_recipes.next_page_number }}">next</a>
      <a href="?page={{ all_recipes.paginator.num_pages }}">last &raquo;</a>
  {% endif %}
     
      <a href="#">&raquo;</a>
    </div>
    




</main>
<!-- Movie Card End -->
{% endblock %}