{% load static  %}  

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/navbar.css">
    <link rel="stylesheet" href="/static/css/buttons.css">
    <link rel="stylesheet" href="/static/css/recipes_display.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/create.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <title>RecipesForum</title>
</head>

<body>
    <ul class="topnav">
        <li class="title"><a href="/">RecipesForum</a></li>
        <li><a href="{% url 'recipe:all_recipe' %}">All recipes</a></li>
        {% if user.is_authenticated %}
        <li><a href="{% url 'recipe:create' %}">Add Recipe</a></li>
        <li><a href="{% url 'recipe:my_recipe' %}">My Recipes</a></li>
        <li class="right"><a href="{% url 'recipe:logout' %}">Logout</a> </li>
        <li class="right"><a href="#Profile">Profile</a> </li>
        {% elif not user.is_authenticated  %}
        <li class="right"><a href="/admin">login</a></li>
        <li class="right"><a href="#about">about</a></li>
        {% endif %}
    </ul>
    {% block site_content %}
   
    {% endblock %}



</body>

</html>